/* @import 'tailwindcss' */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F2FBFF; /* color fondo */
}

/* Ejemplo de uso de las fuentes y colores personalizados */
.font-titulo {
  font-family: 'Dancing Script', cursive;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.bg-fondo {
  background-color: #F2FBFF;
}

.border-bordeLoren {
  border-color: #E4F7FF;
}

.bg-contraste1 {
  background-color: #B8E6FF;
}

.bg-contraste2 {
  background-color: #7BCBFF;
}



